:root {
    --white: #FFFFFF;
    --header: #319B88;
    --image_background: rgba(51, 51, 51, 0.5);
  }

  header, footer {
    background-color: var(--image_background);
    color: var(--white);
    width: 100%;
    padding: 20px 0;
    position: fixed;
    left: 0;
  }

  header {
    top: 0;
  }

  footer {
    bottom: 0;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
  }

  .base_menus {
    display: flex;
    gap: 40px;
  }

  main {
    flex: 1;
    padding-top: 60px; /* Header height compensation */
    padding-bottom: 40px; /* Footer height compensation */
  }