{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'game/rank.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="rank_container">
            <h4 class="rank_title">Piro 명예의 전당</h4>
            <div class="ranking">
                <div class="first">
                    {% for user in users %}
                    <p>{}</p>
                    <p>11</p>
                    <div class="bar" id="bar1">1</div>
                </div>
                <div class="second">
                    <p>user1</p>
                    <p>-1</p>
                    <div class="bar" id="bar2">2</div>
                </div>
                <div class="third">
                    <p>user4</p>
                    <p>-6</p>
                    <div class="bar" id="bar3">3</div>
                </div>
            </div>
            <a href="">
                <button class="list_button">전적 목록</button>
            </a>
        </div>
    {% endblock %}
</body>
</html>