{% extends 'base/base.html' %}
{%load static%}
{%block head%}
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Inter, sans-serif;
        height: 100vh;
      }
      .title {
        font-size: 8rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: white;
        margin-bottom: 2rem;
      }
      button {
        background-color: #17d6b5;
        width: 12.75rem;
        height: 3.5rem;
        border-radius: 1rem;
        font-size: 2rem;
        color: white;
        border: none;
        cursor: pointer;
        margin: 1rem;
        transition: background-color 0.3s;
      }
      button:hover {
        background-color: #14b59e;
      }
      footer {
        text-align: center;
        margin-top: 2rem;
        font-size: 1rem;
        color: #aaa;
      }
    </style>
{%endblock head%}
{%block base_menus%}
          {% if user.is_authenticated %}
          <span>{{ user.username }} 님</span>
          <a href="/play">게임하기</a>
          <a href="{% url 'game:rankings' %}">랭킹보기</a>
          <a href="{% url 'users:logout' %}">로그아웃</a>
          {% else %}
          <a href="{% url 'users:login' %}">로그인</a>
          <a href="{% url 'users:signup' %}">회원가입</a>
          {% endif %}
{%endblock base_menus%}
{%block content%}
      <div class="title">Piro Game</div>
      {% if user.is_authenticated %}
      <div class="loginING">{{ user.username }} 님이 로그인 중</div>
      <div>
        <button
          class="start"
          onclick="window.location.href='{% url 'game:create_game' %}'"
        >
          start
        </button>
        <button class="list" onclick="window.location.href='{% url 'game:game_list' user.id%}'">list</button>
      </div>
      {%else %}
      <button class="start" onclick="loginAlert()">start</button>
      {% endif %}
 {%endblock content%}
 {%block js%}
    <script>
      const isLoggedIn = "{{ user.is_authenticated|yesno:'true,false' }}";

      function loginAlert() {
        alert("로그인이 필요합니다!");
      }

      document.addEventListener("DOMContentLoaded", () => {
        const loginStatusElement = document.querySelector(".loginING");
        const listButton = document.querySelector(".list");

        if (user.is_authenticated === "false") {
          loginStatusElement.style.display = "none";
          listButton.style.display = "none";
        }
      });
    </script>
{%endblock js%}
